In [9]:
import pandas as pd
import numpy as np
import datetime

In [2]:
base_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-'
li = []
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
    
for fn in months:
    url = base_url + fn + '.parquet'

    df = pd.read_parquet(url)
    
    li.append(df)

In [17]:
df = pd.concat(li,axis=0,ignore_index=True)

In [25]:
df.lpep_pickup_datetime = df.lpep_pickup_datetime.values.astype('datetime64[ms]')
df.lpep_dropoff_datetime = df.lpep_dropoff_datetime.values.astype('datetime64[ms]')

In [26]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ms]
lpep_dropoff_datetime    datetime64[ms]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                        object
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [20]:
df.head

<bound method NDFrame.head of         VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2022-01-01 00:14:21   2022-01-01 00:15:33
1              1  2022-01-01 00:20:55   2022-01-01 00:29:38
2              1  2022-01-01 00:57:02   2022-01-01 01:13:14
3              2  2022-01-01 00:07:42   2022-01-01 00:15:57
4              2  2022-01-01 00:07:50   2022-01-01 00:28:52
...          ...                  ...                   ...
840397         2  2022-12-31 23:33:00   2022-12-31 23:49:00
840398         2  2022-12-31 23:29:00   2023-01-01 00:01:00
840399         2  2022-12-31 23:05:00   2022-12-31 23:12:00
840400         2  2022-12-31 23:03:00   2022-12-31 23:18:00
840401         2  2022-12-31 23:16:00   2022-12-31 23:25:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N         1.0            42            42
1                       N         1.0           116            41
2                       N         1.0            41           140
3                       N         1.0           181           181
4                       N         1.0            33           170
...                   ...         ...           ...           ...
840397               None         NaN            33            79
840398               None         NaN            49           197
840399               None         NaN            54           181
840400               None         NaN             7           129
840401               None         NaN            17            61

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                   1.0           0.44         3.50   0.50      0.5
1                   1.0           2.10         9.50   0.50      0.5
2                   1.0           3.70        14.50   3.25      0.5
3                   1.0           1.69         8.00   0.50      0.5
4                   1.0           6.26        22.00   0.50      0.5
...                 ...            ...          ...    ...      ...
840397              NaN           3.53        20.72   0.00      0.0
840398              NaN           8.94        39.01   0.00      0.0
840399              NaN           1.27        12.11   0.00      0.0
840400              NaN           2.23        15.51   0.00      0.0
840401              NaN           1.74        12.32   0.00      0.0

        tip_amount  tolls_amount ehail_fee  improvement_surcharge  \
0             0.00           0.0      None                    0.3
1             0.00           0.0      None                    0.3
2             4.60           0.0      None                    0.3
3             0.00           0.0      None                    0.3
4             5.21           0.0      None                    0.3
...            ...           ...       ...                    ...
840397        4.89           0.0      None                    1.0
840398        8.00           0.0      None                    1.0
840399        2.62           0.0      None                    1.0
840400        3.30           0.0      None                    1.0
840401        2.66           0.0      None                    1.0

        total_amount  payment_type  trip_type  congestion_surcharge
0               4.80           2.0        1.0                  0.00
1              10.80           2.0        1.0                  0.00
2              23.15           1.0        1.0                  2.75
3               9.30           2.0        1.0                  0.00
4              31.26           1.0        1.0                  2.75
...              ...           ...        ...                   ...
840397         29.36           NaN        NaN                   NaN
840398         48.01           NaN        NaN                   NaN
840399         15.73           NaN        NaN                   NaN
840400         19.81           NaN        NaN                   NaN
840401         15.98           NaN        NaN                   NaN

[840402 rows x 20 columns]>

In [2]:
df = pd.read_parquet('~/Downloads/2022-green-taxi.parquet')

In [8]:
df['lpep_dropoff_datetime'] = df['lpep_dropoff_datetime'].astype(str)

rslt_df = df[df['lpep_dropoff_datetime'] == '1640996133000000000']
rslt_df

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [7]:
df.head

<bound method NDFrame.head of         VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2022-01-01 00:14:21   2022-01-01 00:15:33
1              1  2022-01-01 00:20:55   2022-01-01 00:29:38
2              1  2022-01-01 00:57:02   2022-01-01 01:13:14
3              2  2022-01-01 00:07:42   2022-01-01 00:15:57
4              2  2022-01-01 00:07:50   2022-01-01 00:28:52
...          ...                  ...                   ...
840397         2  2022-12-31 23:33:00   2022-12-31 23:49:00
840398         2  2022-12-31 23:29:00   2023-01-01 00:01:00
840399         2  2022-12-31 23:05:00   2022-12-31 23:12:00
840400         2  2022-12-31 23:03:00   2022-12-31 23:18:00
840401         2  2022-12-31 23:16:00   2022-12-31 23:25:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N         1.0            42            42
1                       N         1.0           116            41
2                       N         1.0            41           140
3                       N         1.0           181           181
4                       N         1.0            33           170
...                   ...         ...           ...           ...
840397               None         NaN            33            79
840398               None         NaN            49           197
840399               None         NaN            54           181
840400               None         NaN             7           129
840401               None         NaN            17            61

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                   1.0           0.44         3.50   0.50      0.5
1                   1.0           2.10         9.50   0.50      0.5
2                   1.0           3.70        14.50   3.25      0.5
3                   1.0           1.69         8.00   0.50      0.5
4                   1.0           6.26        22.00   0.50      0.5
...                 ...            ...          ...    ...      ...
840397              NaN           3.53        20.72   0.00      0.0
840398              NaN           8.94        39.01   0.00      0.0
840399              NaN           1.27        12.11   0.00      0.0
840400              NaN           2.23        15.51   0.00      0.0
840401              NaN           1.74        12.32   0.00      0.0

        tip_amount  tolls_amount ehail_fee  improvement_surcharge  \
0             0.00           0.0      None                    0.3
1             0.00           0.0      None                    0.3
2             4.60           0.0      None                    0.3
3             0.00           0.0      None                    0.3
4             5.21           0.0      None                    0.3
...            ...           ...       ...                    ...
840397        4.89           0.0      None                    1.0
840398        8.00           0.0      None                    1.0
840399        2.62           0.0      None                    1.0
840400        3.30           0.0      None                    1.0
840401        2.66           0.0      None                    1.0

        total_amount  payment_type  trip_type  congestion_surcharge
0               4.80           2.0        1.0                  0.00
1              10.80           2.0        1.0                  0.00
2              23.15           1.0        1.0                  2.75
3               9.30           2.0        1.0                  0.00
4              31.26           1.0        1.0                  2.75
...              ...           ...        ...                   ...
840397         29.36           NaN        NaN                   NaN
840398         48.01           NaN        NaN                   NaN
840399         15.73           NaN        NaN                   NaN
840400         19.81           NaN        NaN                   NaN
840401         15.98           NaN        NaN                   NaN

[840402 rows x 20 columns]>

In [13]:
from pyarrow.parquet import ParquetFile
# Source is either the filename or an Arrow file handle (which could be on HDFS)
#ParquetFile('/Users/davewilson/Downloads/green_tripdata_2022-01.parquet').metadata
ParquetFile('/Users/davewilson/Downloads/green_tripdata_2022-01.parquet').schema

<pyarrow._parquet.ParquetSchema object at 0x126c2f5c0>
required group field_id=-1 schema {
  optional int64 field_id=-1 VendorID;
  optional int64 field_id=-1 lpep_pickup_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional int64 field_id=-1 lpep_dropoff_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional binary field_id=-1 store_and_fwd_flag (String);
  optional double field_id=-1 RatecodeID;
  optional int64 field_id=-1 PULocationID;
  optional int64 field_id=-1 DOLocationID;
  optional double field_id=-1 passenger_count;
  optional double field_id=-1 trip_distance;
  optional double field_id=-1 fare_amount;
  optional double field_id=-1 extra;
  optional double field_id=-1 mta_tax;
  optional double field_id=-1 tip_amount;
  optional double field_id=-1 tolls_amount;
  optional int32 field_id=-1 ehail_fee (Null);
  optional double field_id=-1 improvement_surcharge;
  optional double field_id=-1 total_amount;
  optional double field_id=-1 payment_type;
  optional double field_id=-1 trip_type;
  optional double field_id=-1 congestion_surcharge;
}

In [14]:
ParquetFile('/Users/davewilson/Downloads/2022-green-taxi.parquet').schema

<pyarrow._parquet.ParquetSchema object at 0x126ac2100>
required group field_id=-1 schema {
  optional int64 field_id=-1 VendorID;
  optional int64 field_id=-1 lpep_pickup_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=nanoseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional int64 field_id=-1 lpep_dropoff_datetime (Timestamp(isAdjustedToUTC=false, timeUnit=nanoseconds, is_from_converted_type=false, force_set_converted_type=false));
  optional binary field_id=-1 store_and_fwd_flag (String);
  optional double field_id=-1 RatecodeID;
  optional int64 field_id=-1 PULocationID;
  optional int64 field_id=-1 DOLocationID;
  optional double field_id=-1 passenger_count;
  optional double field_id=-1 trip_distance;
  optional double field_id=-1 fare_amount;
  optional double field_id=-1 extra;
  optional double field_id=-1 mta_tax;
  optional double field_id=-1 tip_amount;
  optional double field_id=-1 tolls_amount;
  optional int32 field_id=-1 ehail_fee (Null);
  optional double field_id=-1 improvement_surcharge;
  optional double field_id=-1 total_amount;
  optional double field_id=-1 payment_type;
  optional double field_id=-1 trip_type;
  optional double field_id=-1 congestion_surcharge;
}

In [34]:
import pyarrow as pa
import pyarrow.parquet as pq
from pyarrow import fs

s3, path = fs.FileSystem.from_uri("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet")

#path = fs.FileSystem.from_uri('')
#table = pq.read_table(path)
#df = pq.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet')

ArrowInvalid: Unrecognized filesystem type in URI: https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet